:root {
    --color-one: #a6a6a6;
    --color-two: #54bd95;
    --color-three: #f8f8fa;
    --color-four: #191a15;
    --color-fife: #000000;
    --color-six: #f5f5f5;
    --color-seven: #ffffff;
    --color-eight: #e8e5e5;
    --color-nine: #f9fafb;
    --color-ten: #d9d9d9;
    --color-eleven: #161c28;
    --color-twelv: #222938;
    --color-thirteen: red;
    --color-fourteen: #626f77;
    --color-fifteen: #caeee1;
    --color-sixteen: #707070;
    --color-seventeen: #354e45;

    
    
}





$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;