.link {
  font-size: 16px;
  color: var(--color-one);
  font-weight: 500;
  line-height: 1.5;
  transition-property: text-decoration, text-underline-offset, color;
  transition-duration: 0.5s;
  &:hover {
    color: var(--color-two);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
